/* --- [ Reset ] - start ---*/
* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    font-size: 100%;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    border: none;
    outline: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background: #f9f9f9;
}
a {
    text-decoration: unset;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
}
/* --- [ Reset ] - end ---*/

/* --- [ Variáveis (padrão=#303f5e noturno=#3b3b3b) ] - start ---*/
* {
    --cor-padrao: #303f5e;
}
/* --- [ Variáveis ] - end ---*/

/* --- [ Tamanho das fontes ] - start ---*/
h1 {
  font-size: 48px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 14px;
}

hr {
    color: #4c4b4b;
    background-color: var(--cor-padrao);
    height: 2px;
    margin: 20px 0;
}
/* --- [ Tamanho das fontes ] - end ---*/

/* --- [ Keyframes ] - start ---*/
@keyframes up-down {
    0% {
        transform: translatey(-30px);
        opacity: 0%;
    }
    100% {
        transform: translatey(0px);
        opacity: 100%;
    }
}

@keyframes left-right {
    0% {
        transform: rotate(-90deg);
    }
    50% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(-10deg)
    }
    50% {
        transform: rotate(10deg)
    }
    100% {
        transform: rotate(-10deg)
    }
}
/* --- [ Keyframes ] - end ---*/

/* --- [ ScrollBars ] - start ---*/
::-webkit-scrollbar {
  width: 11px;
  background: #b2e5f6;
}
::-webkit-scrollbar-thumb {
  background: var(--cor-padrao);
}

.scrolledit::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #c3c6c7;
}
.scrolledit::-webkit-scrollbar-thumb {
  background: var(--cor-padrao);
}
/* --- [ ScrollBars ] - end ---*/

/* --- [ Header ] - start ---*/
.header {
    background-color: #e0e2e2;
    position: relative;
    width: 100%;
    height: 100vh;
}
.navbar {
    z-index: 1000;
    width: 100%;
    height: 65px;
    top: 2vh;
    padding: 0 3%;
    position: absolute;
    transition: all 1s ease;
    
}
.navbar-small {
    position: fixed;
    height: 45px;
    top: 0;
    background-color: var(--cor-padrao);
}
.navbar-small .logomarca {
    width: 11% !important;
    min-width: 150px !important;
    background: url("../images/componentes/logo-white.png") center center/100% no-repeat !important;
}
.navbar .logomarca {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    min-width: 53px;
    height: 100%;
    background: url("../images/componentes/logo-dark.png") center center/100% no-repeat;
    transition: all 1s ease;
}
.navbar .navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    height: 95%;
    margin-right: 5%;
}
.navbar .navbar-menu .icon-navbar {
    display: none;
    position: relative;
    color: #fff;
    font-size: 1.7em;
    text-align: center;
    width: 48px;
    height: 48px;
    border-radius: 100%;
}
.navbar .navbar-menu .icon-navbar .fa-bars {
    margin: auto;
}
.navbar .navbar-menu li {
    display: inline-flex;
    font-size: 1.4em;
    font-weight: 300;
    padding: 0 12px;
    text-transform: uppercase;
}
.navbar .navbar-menu a {
    color: white;
}
.header .header-l {
    z-index: 2;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    align-items: center;
    width: 43%;
    min-width: 350px;
    height: 110vh;
    background: url("../images/componentes/back-left-header.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.header-l .ceo{
    padding: 3%;
    position: absolute;
    width: 70%;
    height: auto;
    max-height: 87%;
    margin-left: -5%;
    overflow: hidden;
}
.ceo .foto-ceo {
    position: relative;
    margin: 0 auto;
    width: 85%;
}
.foto-ceo img {
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
    visibility: visible;
}
.border-img {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 7px solid;
    border-color: #bea8fc00 var(--cor-padrao) #bea8fc00 var(--cor-padrao);
    border-radius: 100%;
    animation: rotate 4s infinite ease-in-out;
    
}
.ceo hr {
    margin: 10% 0 7% 0;
    background-color: #303f5e;
}
.text-ceo {
    text-align: center;
    text-transform: uppercase;
}
.text-ceo h2 {
    font-size: calc(20px + (8.5/1200) * 100 * 1vw);
    color: #303f5e;
    font-weight: bold;
    margin-bottom: 4%;
}
.text-ceo span {
    font-size: calc(13px + (8/1200) * 100 * 1vw);
    font-weight: 300;
    color: #303f5e;
}
.header .header-r {
    z-index: 1;
    position: relative;
    float: right;
    width: 67%;
    height: 100.5%;
    background: url("../images/componentes/background-header-right.jpg");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.header .btn-header {
    z-index: 10;
    position: absolute;
    width: 100%;
    top: 90vh;
    font-size: 40pt;
    text-align: center;
}
.btn-header a {
    color: white;
}
.btn-header a:hover .fa-chevron-down {
    animation: up-down 1s ease-in-out infinite;
}
/* --- [ Header ] - end ---*/

/* --- [ Blog ] - start ---*/
.blog {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #ffffff;
    padding: 3%;
}
.blog .title-blog {
    width: 100%;
    height: auto;
    margin-top: 1%;
    text-align: center;
    color: #454040;
    text-overflow: ellipsis;
}
.title-blog h2 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 0.5%;
}
.title-blog p {
    font-size: 1.1em;
}
.blog .posts-blog {
    position: relative;
    width: 100%;
    margin-top: 3%;
}
.posts-1 {
    width: 100%;
    height: auto;
    display: inline-flex;
    place-content: center;
    flex-wrap: wrap;
    display: none;
    margin-top: 2%;
}
.posts-1 .btn-blog-1 {
    position: absolute;
    display: inline-flex;
    place-self: center;
    width: 95vw;
    height: auto;
    font-size: 40px;
    justify-content: space-between;
}
.btn-blog-1 a {
    color: #b0acfcb2;
}
.posts-1 .article-blog-1 {
    background-color: #ffffff;
    width: 270px;
    height: 342px;
    margin: 3% 1%;
    overflow: hidden;
}
.article-blog-1 .image-article-blog {
    display: grid;
}
.article-blog-1 .title-article-blog {
    background-color: #9a95fa;
    width: 100%;
    height: 17.5%;
    padding: 2.5% 5%;              
    overflow: hidden;
}
.article-blog-1 .title-article-blog h3 {
    font-size: 18px;
    font-weight: 300 ;
    color: #fff;
    text-transform: uppercase;
}
.article-blog-1 .text-article-blog {
    padding: 3% 8%;
    width: 100%;
    height: 100%;
}
.article-blog-1 .text-article-blog p {
    font-size: 16px;

}
.posts-2 {
    position: relative;
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.posts-2 .article-blog-2 {
    position: relative;
    width: 560px;
    height: 410px;
    margin: 1% 0 2%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.posts-2 .notice-blog-2 {
    width: auto;
    height: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.posts-2 .notice-blog-2:hover .date-article {
    visibility: visible;
}
.posts-2 .notice-blog-2:hover .text-article-blog {
    bottom: 0;
}
.notice-blog-2 .date-article {
    right: 10px;
    top: 1px;
    float: right;
    position: absolute;
    visibility: hidden;
}
.notice-blog-2 .date-article span {
    font-size: 12px;
    font-weight: 400;
}
.notice-blog-2 .date-article span .fa-clock {
    font-size: 10px;
}
.notice-blog-2 .image-article-blog {
    display: grid;
    height: 100%;
    overflow: hidden;
    display: flex;
}
.notice-blog-2 .image-article-blog img {
    object-fit: cover;
}
.notice-blog-2 .text-article-blog {
    position: absolute;
    bottom: -190px;
    width: 100%;
    height: auto;
    transition: all 1s ease;
}
.text-article-blog .title-article-blog {
    background: var(--cor-padrao);
    width: 100%;
    height: auto;
    padding: 10px 3%;              
    overflow: hidden;
}
.text-article-blog .title-article-blog h3 {
    color: #fff;
    font-size: calc(15px + (10/1200) * 100 * 1vw);
    margin: auto 0;
}
.text-article-blog .paragrafo-article-blog {
    width: 100%;
    height: 190px;
    overflow: hidden;
    padding: 10px 20px;
    background-color: #f7f7f7;
}
.paragrafo-article-blog p {
    font-size: 18px;
}
.article-blog-2 .btn-article-blog-2 {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}
.article-blog-2 .btn-article-blog-2 .select-btn-article {
    margin: 0 7px;
    width: 12px;
    height: 12px;
    background-color: var(--cor-padrao);
    cursor: pointer;
}
.article-blog-2 .btn-article-blog-2 .select-btn-article-active {
    margin: 0 7px;
    width: 12px;
    height: 12px;
    background-color: #bb3939;
    cursor: pointer;
}
.btn-article-blog-2 .select-btn-article:hover {
    background-color: #bb3939;
}
.posts-2 .box-article {
    border: 1px solid var(--cor-padrao);
    width: 610px;
    height: 410px;
    margin: 1% 0 2%;
    overflow: hidden;
    padding: 10px;
}
.box-article .scrolledit {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-right: 0.5%;
    -webkit-overflow-scrolling: touch;
}
.box-article .article-box-bg {
    width: 100%;
    height: 25%;
    border-bottom: 1px var(--cor-padrao) solid;
}
.box-article .article-box-bg:hover {
    background-color: var(--cor-padrao);
}
.article-box-bg .article-box {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    cursor: pointer;
    background-color: #f9f9f99a;
}
.article-box-bg .article-box:hover .date-article {
    visibility: visible;
}
.article-box .date-article {
    right: 10px;
    float: right;
    position: absolute;
    visibility: hidden;
}
.article-box .date-article span {
    font-size: 12px;
    font-weight: 400;
}
.article-box .date-article span .fa-clock {
    font-size: 10px;
}
.article-box .image-article-blog {
    width: 25%;
    height: 90%;
    overflow: hidden;
    display: flex;
    margin: auto;
    padding-left: 5px;
}
.article-box .image-article-blog img {
    object-fit: cover;
}
.article-box .text-article-blog {
    width: 75%;
    margin: auto;
    margin-left: 2.5%;
    overflow: hidden;
}
.article-box .text-article-blog h4 {
    margin-bottom: 5px;
    padding-right: 7%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.article-box .text-article-blog p {
    font-size: 16px;
    height: auto;
    overflow: hidden;
    margin-right: 3%;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
/* --- [ Blog ] - end ---*/


/* --- [ Portfolio ] - start ---*/
.portfolio {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 3%;
}
.portfolio .title-portfolio {
    width: 100%;
    height: auto;
    margin-top: 1%;
    text-align: center;
    color: #454040;
    text-overflow: ellipsis;
}
.title-portfolio h2 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 0.5%;
}
.title-portfolio p {
    font-size: 1.1em;
}
.navbar-portfolio {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.navbar-portfolio ul {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}
.navbar-portfolio ul li {
    margin: 5px 10px;
    padding: 7px 15px;
    background-color: var(--cor-padrao);
    cursor: pointer;
    text-transform: uppercase;
}
.navbar-portfolio ul li:hover {
    background-color: #bb3939;
}
.portfolio .itens-portfolio {
    width: 100%;
    height: auto;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4%;
}
.itens-portfolio .item-portfolio {
    width: 250px;
    margin: 0 2%;
    margin-bottom: 2%;
    cursor: pointer;
}
.item-portfolio img {
    -webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}
.item-portfolio:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
/* --- [ Portfolio ] - end ---*/


/* --- [ Sobre ] - start ---*/
.sobre {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    background-color: #ffffff;
}
.corpo-sobre {
    width: 100%;
    height: 100%;
    display: inline-flex;
}
.foto-sobre {
    width: 40%;
    height: 100%;
}
.foto-sobre img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sobre-ceo {
    width: 70%;
    margin: 2% 1.5% 2% 3%;
    float: right;
    overflow: auto;
}
.sobre .scrolledit {
    padding-right: 40px;
}
.sobre .title-sobre {
    width: 100%;
    height: auto;
    margin-top: 2%;
    text-align: center;
    color: #454040;
    text-overflow: ellipsis;
}
.title-sobre h2 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 0.5%;
}
.title-sobre p {
    font-size: 1.1em;
}
.sobre-ceo .texto-ceo-sobre {
    width: 100%;
    padding-top: 2%;
}
.texto-ceo-sobre .nome-ceo-sobre h3 {
    font-weight: 500;
    color: #454040;
    font-size: 30px;
}
.nome-ceo-sobre p {
    font-size: 18px;
}
.apre-ceo-sobre {
    padding: 3% 0;
}
.apre-ceo-sobre p {
    font-size: 18px;
}
.ex-ceo-sobre {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ex-ceo-sobre .ex-ceo-item {
    width: 45%;
    margin: 7px 0;
}
.ex-ceo-item .ex-title {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.ex-title span {
    align-self: flex-end;
}
.ex-ceo-item .line-ex {
    display: flex;
    align-items: center;
    width: 100%;
    height: 15px;
    margin-top: 3px;
    border: solid #454040 1px;
}
.line-ex .line-ex-progress {
    position: relative;
    height: 9px;
    margin: 0 1%;
    background: var(--cor-padrao);
}
/* --- [ Sobre ] - start ---*/

/* --- [ Contato ] - start ---*/
.contato {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 3%;
}
.contato .title-contato {
    width: 100%;
    height: auto;
    margin-top: 1%;
    text-align: center;
    color: #454040;
    text-overflow: ellipsis;
}
.title-contato h2 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 0.5%;
}
.title-contato p {
    font-size: 1.1em;
}
.contato .corpo-contato {
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}
.corpo-contato .corpo-contato-l {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.corpo-contato-l form {
    width: 90%;
}
.corpo-contato-l fieldset h4 {
    font-size: 19px;
    color: #454040;
}
.corpo-contato-l input {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    margin: 4px 0 10px;
    font-size: 17px;
    background-color: transparent;
    border: solid 2px var(--cor-padrao);
    border-radius: 0px;
    -webkit-border-radius: 0px;
}
.corpo-contato-l textarea {
    width: 100%;
    padding-top: 2px;
    padding-left: 5px;
    font-size: 20px;
    background-color: transparent;
    border: solid 2px var(--cor-padrao);
    margin-top: 4px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
}
.corpo-contato-l button {
    width: 35%;
    min-width: 100px;
    height: 40px;
    float: right;
    margin-top: 5px;
    font-size: 20px;
    padding-bottom: 4px;
    cursor: pointer;
    color: white;
    background-color: var(--cor-padrao);
}
.corpo-contato .corpo-contato-r {
    width: 100%;
    margin: auto;
    transform: translatey(-40px);
    text-align: center;
}
.corpo-contato-r form {
    width: 90%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.corpo-contato-r h5 {
    font-size: 19px;
    margin-bottom: 20px;
    color: #454040;
}
.corpo-contato-r input {
    width: 60%;
    height: 55px;
    padding-left: 20px;
    font-size: 17px;
    background-color: #fffdfd00;
    border: solid 2px var(--cor-padrao);
    border-radius: 0px;
    -webkit-border-radius: 0px;
}
.corpo-contato-r button {
    width: 30%;
    height: 55px;
    font-size: 20px;
    padding-bottom: 4px;
    cursor: pointer;
    color: white;
    background-color: var(--cor-padrao);
}
/* --- [ Contato ] - end ---*/

/* --- [ Footer ] - start ---*/
.footer {
    width: 100%;
    height: 35px;
    background-color: var(--cor-padrao);
}
.footer .footer-corpo {
    width: 100%;
    height: 100%;
    font-size: 13px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-corpo a {
    color: #d3b1ff;
}
/* --- [ Footer ] - end ---*/


@media only screen and (max-width: 450px) {
    
    /* --- [ Geral ] - start ---*/
    .title-blog h2, .title-portfolio h2, .title-contato h2 {
        font-size: 13vw;
        margin-top: 20px !important;
    }
    .title-blog p, .title-portfolio p, .title-contato p {
        margin-bottom: 40px !important;
    }
    .article-box .text-article-blog p {
        -webkit-line-clamp: 3; /* number of lines to show */
    }
    /* --- [ Geral ] - end ---*/

    /* --- [ Header Mobile ] - start ---*/
    .header {
        background-color: transparent;
    }
    .header .header-l {
        position: absolute;
        min-width: 100%;
        height: 100vh;
        background: transparent;
        background-color: #fdfdfddc;
    }
    .header-l .ceo{
        padding: 3%;
        position: absolute;
        width: 90%;
        max-height: 100%;
        margin: 0;
    }
    .text-ceo h2 {
        font-size: 140%;
    }
    .text-ceo span {
        font-size: 100%;
    }
    .header .header-r {
        z-index: 1;
        position: relative;
        float: center;
        width: 100vw;
        height: 100%;
    }
    /* --- [ Header Mobile ] - end --- */

    
    /* --- [ Blog Mobile ] - start --- */
    .posts-2 .article-blog-2 {
        display: none;
    }
    .posts-2 .box-article {
        height: 510px;
    }
    /* --- [ Blog Mobile ] - end --- */
    
    /* --- [ Contato Mobile ] = start --- */
    .contato .corpo-contato {
        display: grid;
        justify-content: center;
    }
    .corpo-contato-l button {
        width: 100%;
        min-width: 100px;
        margin: auto;
        margin-top: 10px;
    }
    .corpo-contato .corpo-contato-r {
        margin: 100px 0;
        transform: translatey(0px);
    }
    .corpo-contato-r form {
        width: 90%;
        display: inline-table;
    }
    .corpo-contato-r input {
        width: 100%;
    }
    .corpo-contato-r button {
        width: 100%;
        margin-top: 5px;
    }
    /* --- [ Contato Mobile ] = end --- */
    
}

@media only screen and (max-width: 830px) {
    /* --- [ Navbar Mobile ] - start ---*/
    .navbar {;
        z-index: 1000;
        background-color: var(--cor-padrao);
        width: 100%;
        height: 65px;
        top: 0;
        padding: 0 3%;
        position: fixed;
    }
    .navbar .navbar-menu {
        background: transparent;
        margin-right: 0;
    }
    .navbar .logomarca {
        width: 150px;
        margin-left: 10px;
        background: url("../images/componentes/logo-white.png") center center/100% no-repeat;
    }
    .navbar .navbar-menu ul {
        display: none;
    }
    .navbar .navbar-menu .icon-navbar {
        display: flex;
    }
    /* --- [ Navbar Mobile ] - end ---*/

    /* --- [ Portfolio Mobile ] - start --- */
    .portfolio {
        width: 100%;
        height: auto;
        min-height: auto;
    }
    .portfolio .itens-portfolio {
        width: 100%;
        margin-top: 2%;
        padding: 10% 0;
        display: -webkit-inline-box;
        flex-wrap: nowrap;
        overflow: auto;
    }
    .itens-portfolio .item-portfolio {
        width: 90%;
        margin: 0 5vw 0 0;
        cursor: pointer;
    }
    .item-portfolio:hover img {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
    /* --- [ Portfolio Mobile ] - end --- */

    /* --- [ Contato Mobile ] = start --- */
    .title-blog h2 {
        margin-top: 40px;
    }
    /* --- [ Navbar Mobile ] - end ---*/
}
