/* --- [ Reset ] - start ---*/
* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    font-size: 100%;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    border: none;
    outline: none;
    box-sizing: border-box;
}
body {
    background: #f9f9f9;
}
a {
    text-decoration: unset;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
}
/* --- [ Reset ] - end ---*/

/* --- [ Tamanho das fontes ] - start ---*/
h1 {
  font-size: 48px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 14px;
}
/* --- [ Tamanho das fontes ] - end ---*/

hr {
    color: #4c4b4b;
    background-color: #4c4b4b;
    height: 2px;
    margin: 20px 0;
}


/* --- [ Header ] - start ---*/
.header {
    background-color: #e0e2e2;
    width: 100vw;
    height: 100vh;
}

.navbar {
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.116);
    width: 100%;
    height: 45px;
    top: 5vh;
    padding: 0 3%;
    position: absolute;
}
.navbar .logomarca {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    min-width: 53px;
    height: 100%;
    background: url("../images/logo.png") center center/100% no-repeat;
}
.navbar .navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    height: 95%;
    margin-right: 7%;
}
.navbar .navbar-menu td {
    font-size: 22px;
    font-weight: 300;
    padding: 0 15px;
    text-transform: uppercase;
}
.navbar .navbar-menu a {
    color: white;
}

.header .header-l {
    z-index: 2;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    align-items: center;
    width: 46.5vw;
    height: 110vh;
    background: url("../images/componentes/back-left-header.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.header-l .ceo{
    padding: 3%;
    position: absolute;
    width: 70%;
    height: auto;
    max-height: 87%;
    margin-left: -5%;
    overflow: hidden;
}
.ceo hr {
    margin: 10% 0 7% 0;
}
.ceo .foto-ceo {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 80%;
}
.foto-ceo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.text-ceo {
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.text-ceo h2 {
    font-size: 2.2vw;
    color: #4c4b4b;
    font-weight: bold;
    padding-bottom: 4%;
}
.text-ceo span {
    font-size: 1.5vw;
    font-weight: 300;
    color: #4c4b4b;
}

.header .header-r {
    z-index: 1;
    position: relative;
    float: right;
    width: 65%;
    height: 100.5%;
    background: url("../images/componentes/escritorio-header.png");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
/* --- [ Header ] - end ---*/

.blog {
    width: 100%;
    height: 100vh;
    background-color: #f3eded;
}






@media only screen and (max-width: 400px) {
    .header {
        background-color: transparent;
    }

    .navbar {
        z-index: 3;
        background-color: #9a95fa;
        width: 100%;
        height: 65px;
        top: 0;
        padding: 0 3%;
        position: absolute;
    }
    .navbar .navbar-menu table {
        display: none;
    }
    .navbar-menu {
        background: url();
    }

    .header .header-l {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: transparent;
        background-image: linear-gradient(#ced1d1, #ced1d1, #ced1d16b);
    }
    .header-l .ceo{
        padding: 3%;
        position: absolute;
        max-height: 100%;
        margin: 0;
        margin-top: -5vh;
    }
    
    .header .header-r {
        z-index: 1;
        position: relative;
        float: center;
        width: 100vw;
        height: 100.5%;
    }
}